* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #f6f7fc;
}
.content {
  padding: 1rem;
  background-color: white;
  height: 100vh;
  width: 100vw;
}
.content h1 {
  margin: 0;
}

.pokemons {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pokemon {
  margin: 0.5rem;
  padding: 1.7rem 1rem;
  color: white;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
}

.pokemon .number {
  color: black;
  opacity: 0.3;
  text-align: right;
  font-size: 0.625rem;
}
.pokemon .name {
  color: white;
  margin-bottom: 0;
  text-transform: capitalize;
}

.pokemon .detail .types {
  padding: 0;
  list-style: none;
  margin: 0;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.type {
  color: white;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  border-radius: 1.1rem;
}

.pokemon .detail img {
  max-width: 100%;
  height: 70px;
  align-self: flex-end;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

h1 {
  text-align: center;
  color: rgb(100, 105, 101);
  font-size: 40px;
}
